.produto {
  display: flex;
  flex-direction: column;
  background-color: rgba(121, 106, 79, 0.95);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  color: white;

  &:hover {
    transform: scale(1.1);
  }

  .__item {
    font-size: 3vw;
    margin-bottom: 20px;
  }

  .__price {
    margin-bottom: 20px;
  }

  button {
    margin-bottom: 20px;
  }
}
