@import "../../scss/media-queries.scss";

.header {
  text-align: center;

  .hamburger-react {
    color: #5a3d1b;
    margin-top: 25px;
    margin-left: 15px;
    grid-area: hamburguer;
    z-index: 1001;
  }

  .__names {
    text-decoration: none;
    h1 {
      font-size: 8vw;
      color: #5a3d1b;
      align-self: start;
      grid-area: names;

      &:hover {
        color: #412f22;
      }
    }
  }

  .__nav-bar {
    position: fixed;
    top: 0;
    z-index: 2;

    .__close {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0vw;
    }

    .__menu {
      display: none;
      &.--menu-opened {
        position: absolute;
        top: 0;
        display: grid;
        width: 60vw;
        height: 100vh;
        background-color: rgba(121, 106, 79, 0.95);
        z-index: 1000;
        left: 0;
        grid-template-columns: 10% auto;
        grid-template-rows: 100px auto;
        grid-template-areas:
          " hambuguer initials"
          "links links";

        @include for-desktop-and-large {
          width: 40vw;
        }
      }
    }

    .__initials {
      display: block;
      text-align: center;
      color: #5a3d1b;
      font-size: 12vw;
      grid-area: initials;
      align-self: center;
      text-decoration: none;

      @include for-desktop-and-large {
        font-size: 80px;
      }

      &:hover {
        color: white;
      }
    }
  }
}
