@import "../../scss/media-queries.scss";

.header {
  @include for-phone {
    display: flex;
    &.--menu-opened {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      background: lightgray;
      z-index: 1000;
      left: 0;
    }

    .hamburger-react {
      color: #796a4f;
      margin-top: 10px;
      margin-left: 15px;
    }

    h2 {
      flex: 1 1 auto;
      text-align: center;
      color: #796a4f;
      font-size: 3em;
      margin: 10px;
    }
  }

  @include for-desktop-and-large {
    display: none;
  }
}
