.App {
  max-width: 1600px;
}
body {
  background-image: url("./images/one-flower2.jpg"),
    url("./images/one-flower3.jpg"), url("./images/inverse-flower-down.jpg"),
    url("./images/shorter-flower.jpg");
  background-size: 24vw auto, 24vw auto, 24vw auto, 20vw auto;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top right, top left, bottom left, bottom right;
  background-color: #dbd3c3;
}

img {
  width: 100%;
}
